*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.top {
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  .planet-name {
    font-size: 5.5rem;
    height: 100px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    .current {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .next {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

#div2 > h1{
    color: white;
    height: 100%;
    font-size: 3vw;
    font-weight: lighter;
    letter-spacing: tight;


}